# 1. Ignore EVERYTHING by default
*

# 2. But, "un-ignore" directories so Git can look inside them
!*/

# 3. "Un-ignore" this .gitignore file itself
!.gitignore

# 4. "Un-ignore" all VHDL files (files ending in .vhd)
!*.vhd